@import url(font.css);
/* line 3, ../compass/sass/app.scss */
body {
  background-color: #f1f1f1;
  /*E9EAED;*/
  /*font-family: 'discoregular';*/
  /*
  	Page de contact
  */
  	/*
  	Page de recherche
  
  	-------------------------------*/
  /*=================================*/
}
/* line 6, ../compass/sass/app.scss */
body span.alert-notif {
  display: inline-block;
  padding: 2px;
  color: #ffffff;
  background-color: #b72f2f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 14, ../compass/sass/app.scss */
body #update-bell-message .dropdown-messages {
  width: 250px;
}
/* line 19, ../compass/sass/app.scss */
body .un-groupe {
  width: 100%;
  min-height: 200px;
  height: auto;
  border: 0px solid #aaa;
  background: #ffffff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
/* line 26, ../compass/sass/app.scss */
body .un-groupe .top {
  height: 150px;
}
/* line 28, ../compass/sass/app.scss */
body .un-groupe .top .nombre {
  color: #8e2727;
  font-size: 7em;
  text-align: center;
  font-family: 'eb_garamondregular';
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
/* line 36, ../compass/sass/app.scss */
body .un-groupe .bottom {
  height: 50px;
  background-color: #8e2727;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.9em;
  font-family: 'discoregular';
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}
/* line 48, ../compass/sass/app.scss */
body .un-groupe.agent .top .nombre {
  color: #3b6020;
}
/* line 51, ../compass/sass/app.scss */
body .un-groupe.agent .bottom {
  background-color: #3b6020;
}
/* line 55, ../compass/sass/app.scss */
body .main {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 3px 0;
  border-radius: 0;
  /*@include box-shadow(0 0 1px rgba(0,0,0,0.1));*/
}
/* line 64, ../compass/sass/app.scss */
body .details-utilisateur li {
  font-weight: bolder;
}
/* line 66, ../compass/sass/app.scss */
body .details-utilisateur li i {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 72, ../compass/sass/app.scss */
body span.nom {
  font-weight: bolder;
  text-transform: uppercase;
  display: inline;
}
/* line 77, ../compass/sass/app.scss */
body #body-main {
  margin-top: 0px;
}
/* line 81, ../compass/sass/app.scss */
body #top {
  z-index: 1000;
}
/* line 83, ../compass/sass/app.scss */
body #top nav {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 88, ../compass/sass/app.scss */
body .titre-de-page {
  padding-top: 70px;
  padding-bottom: 30px;
  background-image: url(../images/campagne-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background: #232937;
  margin-bottom: 8px;
  /*min-height: 20px;
  height: auto;*/
}
/* line 98, ../compass/sass/app.scss */
body .titre-de-page .un-groupe {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
/* line 100, ../compass/sass/app.scss */
body .titre-de-page .un-groupe a {
  text-decoration: none;
}
/* line 104, ../compass/sass/app.scss */
body .titre-de-page .titre {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'orbitronbold';
}
/* line 108, ../compass/sass/app.scss */
body .titre-de-page .titre .bloc-messagerie {
  list-style: none;
}
/* line 110, ../compass/sass/app.scss */
body .titre-de-page .titre .bloc-messagerie li {
  display: inline-block;
  font-size: 0.7em;
  margin: 5px;
}
/* line 114, ../compass/sass/app.scss */
body .titre-de-page .titre .bloc-messagerie li a.active {
  color: #7cbc0a;
  font-family: 'eb_garamondregular';
  font-size: 1.2em;
}
/* line 124, ../compass/sass/app.scss */
body .titre-de-page .liens i {
  color: #ffffff;
  margin: 0 3px;
}
/* line 128, ../compass/sass/app.scss */
body .titre-de-page .liens a {
  color: #ccc;
  text-decoration: none;
}
/* line 132, ../compass/sass/app.scss */
body .titre-de-page .liens a.active {
  color: #7cbc0a;
}
/* line 137, ../compass/sass/app.scss */
body .titre-de-page.index {
  -webkit-box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.5) inset;
  padding-bottom: 80px;
  background-color: #636a7a;
  border-bottom: 5px inset #777;
}
/* line 143, ../compass/sass/app.scss */
body footer {
  min-height: 100px;
  background-image: url(../images/campagne-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 30px;
}
/* line 154, ../compass/sass/app.scss */
body #search-contact {
  border: 1px solid #ffffff;
  display: block;
  width: 100%;
  height: 35px;
  padding-left: 8px;
  font-family: 'eb_garamondregular';
  font-size: 1.2em;
}
/* line 163, ../compass/sass/app.scss */
body #list-contacts {
  height: 300px;
  overflow: auto;
}
/* line 166, ../compass/sass/app.scss */
body #list-contacts a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 3px 3%;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
/* line 172, ../compass/sass/app.scss */
body #list-contacts a i {
  display: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 177, ../compass/sass/app.scss */
body #list-contacts a.active {
  color: #f1f1f1;
  padding-left: 6%;
  font-weight: bolder;
  background: #232937;
}
/* line 182, ../compass/sass/app.scss */
body #list-contacts a.active i {
  display: inline;
}
/* line 192, ../compass/sass/app.scss */
body ul.tab-heading {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 195, ../compass/sass/app.scss */
body ul.tab-heading li {
  display: inline-block;
  padding: 15px 6%;
}
/* line 198, ../compass/sass/app.scss */
body ul.tab-heading li:hover {
  background-color: #f1f1f1;
}
/* line 201, ../compass/sass/app.scss */
body ul.tab-heading li a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
}
/* line 205, ../compass/sass/app.scss */
body ul.tab-heading li a span {
  display: inline-block;
  background-color: #c92424;
  color: #ffffff;
  font-weight: bolder;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 5px;
}
/* line 216, ../compass/sass/app.scss */
body ul.tab-heading li.active {
  background-color: #232937;
}
/* line 218, ../compass/sass/app.scss */
body ul.tab-heading li.active a {
  color: #ffffff;
}
/* line 220, ../compass/sass/app.scss */
body ul.tab-heading li.active a span {
  background: transparent;
  color: #c92424;
}
/* line 225, ../compass/sass/app.scss */
body ul.tab-heading li.active:after {
  border-color: #232937 transparent transparent transparent;
  border-width: 10px 10px 10px 10px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  position: absolute;
  float: right;
  margin-top: 15px;
  margin-left: 2%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  z-index: 20;
  content: "";
}
/* line 244, ../compass/sass/app.scss */
body #tab-body {
  margin-top: 8px;
  padding: 20px;
}
/* line 249, ../compass/sass/app.scss */
body #tab-body #utilisateurs .utilisateur .en-tete {
  padding-bottom: 4px;
  border-bottom: 1px dotted #ccc;
}
/* line 252, ../compass/sass/app.scss */
body #tab-body #utilisateurs .utilisateur .en-tete img {
  display: inline-block;
}
/* line 255, ../compass/sass/app.scss */
body #tab-body #utilisateurs .utilisateur .en-tete h2 {
  vertical-align: bottom;
  display: inline;
  padding-left: 20px;
}
