{%extends '::layout.html.twig' %}

{%block body%}
	<div class="titre-de-page">

		
	</div>
{%endblock body%}
{%block script%}
<script type="text/javascript">
jQuery(document).ready(function(){
	activeLien("{{classe}}");
});
</script>
{%endblock script%}